/*მთავარი-MAIN*/
.main_div{
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    
   
}
/*მთავარი-MAIN*/


/*დაიწყო HEADER*/

header{
   max-width: inherit;
   width: inherit;
   height: 130px;
   position: fixed;
   top: 0;
   left: 50%;
   transform: translateX(-50%);
   background: #262626;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 320px;
   z-index: 1;
}


ul{
    display: flex;
    gap: 68px;
}

li{
font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 28px;
color: #FFFFFF;
}

.fa-lock{
    font-size: 32px;
    color: #FFFFFF;
}
/*დამთავრდა HEADER*/

/*დაიწყო SECTION*/
.section1{
    width: 100%;
    height: 1080px;
    position: relative;
    top: 120px;

    
    
   
}
.didiphoto{
    width: 100%;
    height: 100%
    
}
.div_textsearch{
    width: 78%;
    position: absolute;
    top: 242px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}
.title_1{
font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 82px;
line-height: 96px;
color: #FFFFFF;
}
.text_under{
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 150%;
color: #FFFFFF;
margin-top: 162px;
margin-bottom: 23px;
}

.div_blur{
    width: 463px;
    height: 71px;
    border: 1px solid #FFFFFF;
    border-radius: 50px;
    display: flex;
    align-items: center;
    padding-left: 30px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(2px);
    
}
.plant{
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;
color: #FFFFFF;
margin-right: 248px;


}
.img_Search{
font-size: 50px;
}
/*დამთავრდა SECTION*/

/*დაიწყო SECTION2*/

.section2{
    width: 70%;
    height: 557px;
    margin: 245px auto;
    
}
.bestseller{
font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 75px;
line-height: 88px;
color: #081323;
}
.cards{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 81px;
}
.card{
    border: 2px solid #DCB47A;
    width: 32%;
    height: 388px;
    padding: 30px 41px;
}
.card_img{
width: 100%;
height: 225px;
}
.tittle{
    display: flex;
    justify-content: space-between;
    margin: 50px 0 17px 0;
}
/*დამთავრდა SECTION2*/

/*დაიწყო SECTION3*/

.section3{
    width: 70%;
    height: 800px;
    margin: 245px auto;
    
}
.Interior{
font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 75px;
line-height: 88px;
color: #081323;
}
.threephoto{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 67px;
    
    
}
.image1{
    width: 60%;
    height: 645px;
    position: relative;
    
}
.photo1{
    width: 100%;
    height: 100%;
    
}
.livingroom{
 width: 55%;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 64px;
line-height: 75px;
color: #DCB47A;
white-space: nowrap;




}
.image2{
width: 38%;
height: 645px;
display: flex;
flex-direction: column;
justify-content: space-between;
}
.img_2{
    width: 100%;
    height: 48%;
   
}
/*დამთავრდა SECTION3*/


